body {
  background: white;
  color: #000000;
  font-size: 22px;
  line-height: 38px;
  word-wrap: break-word !important;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#todo-list-example {
  max-width: 1008px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  margin-top: -8px;
  padding: 8px;
}

a {
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  color: #242424;
}




@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: hsla(0, 0%, 100%, 0.9);
  }

  #todo-list-example {
    color: hsla(0, 0%, 100%, 0.9);
  }

  header, footer {
    background-color: black;
  }

  a, a:visited, a:hover, a:active {
    color: #e85d01;
  }

  h1, h2, h3, h4, h5, h6 {
    color: hsla(0, 0%, 100%, 0.9);
  }

  input {
    background: #141414;
    color: hsla(0, 0%, 100%, 0.9);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    padding: 10px 5px;
  }
}